/*
Author: KuiyueRO
URL: https://github.com/KuiyueRO/Obsidian-Miner/edit/main/snippets/MinerBanner.css

==A CSS snippets to show your banner and banner icon for obsidian.==

Style Setting Support: WIP

Wikilink only:
banner image: √
banner image icon: √
banner text icon: ×
banner emoji icon: ×
description: ×

Callout: (Best)
banner image: √
banner image icon: √
banner text icon: √
banner emoji icon: √
description: √

dataview inline field: (Huawei Webview doesn't support :has(), so abandon it)
banner image: ×
banner image icon: ×
banner text icon: √
banner emoji icon: √
description: √

*/

body{
  --bannericon-wh: 5em;
  --bannericon-top: 5.5em;
  --bannerimg-height: 11em;
  --bannericon-circle-radius:5em;
  --banneremojiicon-wh: 80px;
}

/*Page Padding Top*/
.markdown-reading-view .bannerimg{
  padding-top: var(--bannerimg-height) !important;
  padding-bottom: 2em !important;
}
.canvas-node-content.markdown-embed .bannerimg {
  padding-top: 11em !important;
}

/*Banner Image*/
span[src$="bannerimg"] img{
  object-fit: cover;
  max-width: 100%;
  max-height: 10em;
  min-height: 10em;
  width: 100%;
  border-radius: 0px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0px;

  z-index: 9;
}

/*Banner Icon*/
span[src$="bannericonl"] img{
  display: flex !important;

  object-fit: cover;
  width: 5em !important;
  height: 5em !important;
  
  position: absolute;
  top: 5.5em;
  left: var(--h1-style);

  border-radius:15px !important;
  border: 0.175em solid var(--background-secondary-alt);
  box-shadow: var(--shadow-l);
  background-color: var(--background-secondary-alt);

  z-index: 9;
}

span[src$="bannericonlc"] img{
  object-fit: cover;
  width: 5em !important;
  height: 5em !important;
  
  position: absolute;
  top: 5.5em;
  left: initial;

  border-radius:5em !important;
  border: 0.175em solid var(--background-secondary-alt);
  box-shadow: var(--shadow-l);
  background-color: var(--background-secondary-alt);

  z-index: 9;
}

span[src$="bannericonc"] img{
  object-fit: cover;
  width: 5em !important;
  height: 5em !important;
  
  position: absolute;
  top: 5.5em;
  left: calc(50% - 2.5em);

  border-radius:15px !important;
  border: 0.175em solid var(--background-secondary-alt);
  box-shadow: var(--shadow-l);
  background-color: var(--background-secondary-alt);

  z-index: 9;
}

span[src$="bannericoncc"] img{
  object-fit: cover;
  width: 5em !important;
  height: 5em !important;
  
  position: absolute;
  top: 5.5em;
  left: calc(50% - 2.5em);

  border-radius:5em !important;
  border: 0.175em solid var(--background-secondary-alt);
  box-shadow: var(--shadow-l);
  background-color: var(--background-secondary-alt);

  z-index: 9;
}

/*Banner title align Banner标题定位*/
.banner-title-center .inline-title {
  text-align: center !important;
}

/*
.banner-title-left .inline-title {
  text-align: left !important;
  left: calc(var(--bannericon-wh) * 1.4) !important;
  top: calc(var(--bannericon-top) - var(--title-top));
  position:absolute;
}
*/


/*Plugin Fix*/

/*strange new world, hide image button*/

.snw-reference[data-snw-reallink$="bannerimg"] {
  display: none !important;
}

.snw-reference[data-snw-reallink*="bannericon"] {
  display: none !important;
}

/*Breadcrumbs, trail view move down*/
.bannerimg .BC-trail,.bannericon .BC-trail {
  border: 1px solid var(--background-modifier-border);
  border-radius: 5px;
  padding: 5px;
  margin-top: 1.5em !important;
}

.bannerimg .BC-trail .markdown-reading-view>.markdown-preview-view.is-readable-line-width, .markdown-source-view.is-readable-line-width .cm-sizer {
    padding-top: unset;
}

.canvas-node-content.markdown-embed > .markdown-embed-content > .markdown-preview-view:has([alt*="bannerimg"])::before {
  content: unset !important;
}

/*
==== emoji ====
/*
== DataView == inline field
Template: [bannericonc::emoji]
Abandoned because Huawei WebView is too old and does not support :has()
*/

/*
Callout Support
WIP
*/
.callout[data-callout="banner"] {
  overflow:visible !important;
  border-style: unset;
  border-color: unset;
  border-width: unset;
  border-radius: unset;
  margin: unset;
  mix-blend-mode: unset;
  background-color: unset;
  padding: unset;
  width: 100%;
}
.callout[data-callout="banner"] .callout-title {
  display: none;
}
.callout[data-callout="banner"] .callout-icon {
  display: none;
}
.callout[data-callout="banner"] .callout-icon::after {
  display: none;
}
.callout[data-callout="banner"] .callout-fold {
  display: none;
}

.callout[data-callout="bannerimage"] {
  overflow:visible !important;
  border-style: unset;
  border-color: unset;
  border-width: unset;
  border-radius: unset;
  margin: unset;
  mix-blend-mode: unset;
  background-color: unset;
  padding: unset;
  width: 100%;
}
.callout[data-callout="bannerimage"] .callout-title {
  display: none;
}
.callout[data-callout="bannerimage"] .callout-icon {
  display: none;
}
.callout[data-callout="bannerimage"] .callout-icon::after {
  display: none;
}
.callout[data-callout="bannerimage"] .callout-fold {
  display: none;
}
.callout[data-callout="bannerimage"] .callout-content {
  display: flex;
  height: 10em;
  object-fit: cover !important;
  width: 100%;
  position: absolute;
  padding: unset;
  top: 0;
  left: 0;
  overflow: clip;
}

/*wip for imageicon*/
.callout[data-callout="bannerimage"] .callout-content > p {
  margin: unset;

  object-fit: inherit;
}

/*======================*/
.description .markdown-preview-sizer.markdown-preview-section > .mod-header > .inline-title {
  margin-bottom: calc(4 * var(--inline-title-margin-bottom));
}

/*canvas fixed : top empty content */
.canvas-node-content.markdown-embed > .markdown-embed-content > .markdown-preview-view::before, .canvas-node-content.markdown-embed > .markdown-embed-content > .markdown-preview-view::after {
  content: none;
  display: block;
}

.callout[data-callout="bannerdescription"] {
  overflow:visible !important;
  border-style: unset;
  border-color: unset;
  border-width: unset;
  border-radius: unset;
  margin: unset;
  mix-blend-mode: unset;
  background-color: unset;
  padding: unset;
  margin-right: auto;
}
.callout[data-callout="bannerdescription"] .callout-title {
  display: none;
}
.callout[data-callout="bannerdescription"] .callout-icon {
  display: none;
}
.callout[data-callout="bannerdescription"] .callout-icon::after {
  display: none;
}
.callout[data-callout="bannerdescription"] .callout-fold {
  display: none;
}
.callout[data-callout="bannerdescription"] .callout-content {
  position: absolute;
  display: flex;
  top: 13.55em;
  left: var(--h1-style);
}
.callout[data-callout="bannerdescription"] .callout-content > p{
  display: flex;
  width : auto;
  color: var(--color-base-60);
  font-size: var(--size-4-3);
  white-space: wrap;
  overflow: hidden !;
  text-overflow: ellipsis !important;
  padding-top: 8px;
  border-top: 2px solid var(--color-base-100);
  border-image: linear-gradient(to right, var(--color-base-100), var(--color-base-00)) 1;
  
}

/*===*/

.callout[data-callout="bannerdescriptionc"] {
  border-style: unset;
  border-color: unset;
  border-width: unset;
  border-radius: unset;
  margin: unset;
  mix-blend-mode: unset;
  background-color: unset;
  padding: unset;
  top: 20em;
}

.callout[data-callout="bannerdescriptionc"] .callout-title {
  display: none;
}
.callout[data-callout="bannerdescriptionc"] .callout-icon {
  display: none;
}
.callout[data-callout="bannerdescriptionc"] .callout-icon::after {
  display: none;
}
.callout[data-callout="bannerdescriptionc"] .callout-fold {
  display: none;
}
.callout[data-callout="bannerdescriptionc"] .callout-content {
  top: 13.55em;
  position:absolute;
}
.callout[data-callout="bannerdescriptionc"] .callout-content > p{
  color: var(--color-base-60);
  font-size: var(--size-4-3);
  overflow: scroll;
  padding-top: 8px;
  border-top: 2px solid var(--color-base-100);
  border-image: linear-gradient(to right, var(--color-base-00), var(--color-base-100), var(--color-base-00)) 1;
  text-align: center;
}

/*====================================*/

/*left*/
.callout[data-callout="bannericonl"] {
  overflow:visible !important;
  border-style: unset;
  border-color: unset;
  border-width: unset;
  border-radius: unset;
  margin: unset;
  mix-blend-mode: unset;
  background-color: unset;
  padding: unset;
  width: 100%;
}
.callout[data-callout="bannericonl"] .callout-title {
  display: none;
}
.callout[data-callout="bannericonl"] .callout-icon {
  display: none;
}
.callout[data-callout="bannericonl"] .callout-icon::after {
  display: none;
}
.callout[data-callout="bannericonl"] .callout-fold {
  display: none;
}
.callout[data-callout="bannericonl"] .callout-content {
  position: absolute;
  display: flex;
  overflow: visible;
  top: 5.5em;
  left: var(--h1-style);
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
}
.callout[data-callout="bannericonl"] .callout-content > p{
  display: grid;
  justify-content:space-around;
  font-size: 4em;
  line-height: 72.5px;
  width: var(--banneremojiicon-wh);
  height: var(--banneremojiicon-wh);
  border: unset !important;
  box-shadow: var(--shadow-l);
  border-radius:15px !important;
  background-color: var(--background-secondary-alt);
}
.callout[data-callout="bannericonl"] .callout-content > p {
  margin: unset;

  object-fit: inherit;
}
.callout[data-callout="bannericonl"] .callout-content > p > span {

}
.callout[data-callout="bannericonl"] .callout-content > p > span > img {
  display: grid;
  object-fit: cover;
  justify-content:space-around;
  font-size: 4em;
  line-height: 72.5px;
  width: var(--banneremojiicon-wh);
  height: var(--banneremojiicon-wh);
  border: 3px solid var(--background-secondary-alt);

  border-radius:15px !important;
}

/*left circle*/
.callout[data-callout="bannericonlc"] {
  overflow:visible !important;
  border-style: unset;
  border-color: unset;
  border-width: unset;
  border-radius: unset;
  margin: unset;
  mix-blend-mode: unset;
  background-color: unset;
  padding: unset;
  width: 100%;
}
.callout[data-callout="bannericonlc"] .callout-title {
  display: none;
}
.callout[data-callout="bannericonlc"] .callout-icon {
  display: none;
}
.callout[data-callout="bannericonlc"] .callout-icon::after {
  display: none;
}
.callout[data-callout="bannericonlc"] .callout-fold {
  display: none;
}
.callout[data-callout="bannericonlc"] .callout-content {
  position: absolute;
  display: flex;
  overflow: visible;
  top: 5.5em;
  left: var(--h1-style);
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
}
.callout[data-callout="bannericonlc"] .callout-content > p{
  display: grid;
  justify-content:space-around;
  font-size: 4em;
  line-height: 72.5px;
  width: var(--banneremojiicon-wh);
  height: var(--banneremojiicon-wh);
  border: unset !important;
  box-shadow: var(--shadow-l);
  border-radius:50px !important;
  background-color: var(--background-secondary-alt);
}
.callout[data-callout="bannericonlc"] .callout-content > p {
  margin: unset;

  object-fit: inherit;
}
.callout[data-callout="bannericonlc"] .callout-content > p > span {

}
.callout[data-callout="bannericonlc"] .callout-content > p > span > img {
  display: grid;
  object-fit: cover;
  justify-content:space-around;
  font-size: 4em;
  line-height: 72.5px;
  line-clamp:inherit;
  width: var(--banneremojiicon-wh);
  height: var(--banneremojiicon-wh);
  border: 3px solid var(--background-secondary-alt);

  border-radius:50px !important;
}

/*center*/
.callout[data-callout="bannericonc"] {
  overflow:visible !important;
  border-style: unset;
  border-color: unset;
  border-width: unset;
  border-radius: unset;
  margin: unset;
  mix-blend-mode: unset;
  background-color: unset;
  padding: unset;
  width: 100%;
}
.callout[data-callout="bannericonc"] .callout-title {
  display: none;
}
.callout[data-callout="bannericonc"] .callout-icon {
  display: none;
}
.callout[data-callout="bannericonc"] .callout-icon::after {
  display: none;
}
.callout[data-callout="bannericonc"] .callout-fold {
  display: none;
}
.callout[data-callout="bannericonc"] .callout-content {
  position: absolute;
  display: flex;
  overflow: visible;
  top: 5.5em;
  left: calc(50% - 40px);
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
}
.callout[data-callout="bannericonc"] .callout-content > p{
  display: grid;
  justify-content:space-around;
  font-size: 4em;
  line-height: 72.5px;
  width: var(--banneremojiicon-wh);
  height: var(--banneremojiicon-wh);
  border: unset !important;
  box-shadow: var(--shadow-l);
  border-radius:15px !important;
  background-color: var(--background-secondary-alt);
}
.callout[data-callout="bannericonc"] .callout-content > p {
  margin: unset;

  object-fit: inherit;
}
.callout[data-callout="bannericonc"] .callout-content > p > span {

}
.callout[data-callout="bannericonc"] .callout-content > p > span > img {
  display: grid;
  object-fit: cover;
  justify-content:space-around;
  font-size: 4em;
  line-height: 72.5px;
  width: var(--banneremojiicon-wh);
  height: var(--banneremojiicon-wh);
  border: 3px solid var(--background-secondary-alt);

  border-radius:15px !important;
}

/*center circle*/
.callout[data-callout="bannericoncc"] {
  overflow:visible !important;
  border-style: unset;
  border-color: unset;
  border-width: unset;
  border-radius: unset;
  margin: unset;
  mix-blend-mode: unset;
  background-color: unset;
  padding: unset;
  width: 100%;
}
.callout[data-callout="bannericoncc"] .callout-title {
  display: none;
}
.callout[data-callout="bannericoncc"] .callout-icon {
  display: none;
}
.callout[data-callout="bannericoncc"] .callout-icon::after {
  display: none;
}
.callout[data-callout="bannericoncc"] .callout-fold {
  display: none;
}
.callout[data-callout="bannericoncc"] .callout-content {
  position: absolute;
  display: flex;
  overflow: visible;
  top: 5.5em;
  left: calc(50% - 40px);
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
}
.callout[data-callout="bannericoncc"] .callout-content > p{
  display: grid;
  justify-content:space-around;
  font-size: 4em;
  line-height: 72.5px;
  width: var(--banneremojiicon-wh);
  height: var(--banneremojiicon-wh);
  border: unset !important;
  box-shadow: var(--shadow-l);
  border-radius:50px !important;
  background-color: var(--background-secondary-alt);
}
.callout[data-callout="bannericoncc"] .callout-content > p {
  margin: unset;

  object-fit: inherit;
}
.callout[data-callout="bannericoncc"] .callout-content > p > span {

}
.callout[data-callout="bannericoncc"] .callout-content > p > span > img {
  display: grid;
  object-fit: cover;
  justify-content:space-around;
  font-size: 4em;
  line-height: 72.5px;
  line-clamp:inherit;
  width: var(--banneremojiicon-wh);
  height: var(--banneremojiicon-wh);
  border: 3px solid var(--background-secondary-alt);

  border-radius:50px !important;
}
